:root {
  --bg-secondary: #f3f4f6;
  --bg-tertiary: #f9fafb;
  --bg-disable: #f3f4f6;
  --bg-brand: #1975ff;

  --text-primary: #141c24;
  --text-secondary: #344051;
  --text-tertiary: #637083;

  --indicator-medium: #97a1af;
  --indicator-positive: #40bf7f;
  --indicator-light: #ced2da;

  --border-light: #ced2da;
  --border-medium: #97a1af;
  --border-extraLight: #e3e5e5;
}
